<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>OnlyGrams</title>
</head>
<body>

    <div class="nav-container">
        <nav>
            <input type="text" placeholder="Search">
            <button type="Submit">Search</button>
            <div class="nav-links">
                <a href="">Home</a>
                <a href="">Create Post</a>
                <a href="">View Profile</a>
                <a href=""></a>
            </div>
        </nav>
    </div>

    <h1>WELCOME TO ONLYGRAMS</h1>
    
</body>
</html>

